body {
  background-color: #bfa276;
}

.js-winner {
  margin-top: 70px;
  text-align: center;
  color: #ffffff;
}

.container {
  display: flex;
  margin: 100px 50px 50px 50px;
}

.content {
  width: 192px;
  border: 3px solid #ffffff;
  margin: 0 auto;
}

.item {
  display: inline-block;
  width: 60px;
  height: 60px;
  vertical-align: middle;
  text-align: center;
  border: 2px solid #ffffff;
  font-size: 36px;
  line-height: 50px;
  color: #000000;
  user-select: none;
  cursor: pointer;
  transition: background 0.1s;
}

.item:hover {
  background-color: #443b8a37;
}
